* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size: 1em;

    overflow-wrap: break-word;

    /*position: relative;*/
    /*display: inline-block;*/

}

.bg {
    background-image: url('images/bg/c77b4bcf.jpeg');
    /*  background-image: url( 'images/bg/72.jpeg' );*/
}

code {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    float: left;
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: .9em;
}

code.nonl {
    float: none;
    clear: none;
}

img {
    border-color: #C8FB9A;
}

table {
    border: 0px;

    border-collapse: collapse;
}

table td {
    padding: 0px;
}

h3 {
    padding-bottom: .5em;
}


select {
    width: 178px;
    background-color: #DCDCDC;
    border: 0px;
    border-width: 0px;
    font-size: larger;
}

.nobr {
    white-space: nowrap
}

/*NOBR alternative for w3 */
p {
    text-indent: 0.7em;
    line-height: 1.5em;
    padding-bottom: 1em;
}

p:first-letter {
    font-family: "Times New Roman", Times, serif;
    font-family: 'Bad Script', cursive;
    font-size: 150%;
    color: red;
}

a {
    color: #015F4F;
}

a:visited {
    color: #400080;
    /*color: #400080;*/
}

h1 {
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    margin-bottom: 1em;
}

h2 {
    line-height: 2em;
}

h4 {
    font-size: larger;
}

.cite {
    float: left;
    width: calc(100% - 60px);
    padding: 1.3em;
    padding-left: 60px;
    background-image: url('images/quotationMark.png');
    background-position: left top;
    background-repeat: no-repeat;
}

.cite_holder {
    float: right;
    max-width: 65%;
    padding-right: 1em;
}

.cite_font {
    font-size: 0.75em;
    font-family: verdana, sans-serif;
}

cite.sm {
    font-size: smaller;
    opacity: 0.3;
}

.logo_image {
    border: 0px;
}

.sign {
    text-indent: 0.7em;
    text-align: right;
    float: right;
}

.sign:first-letter {
    font-family: "Times New Roman", Times, serif;

    font-size: 2em;
    color: red;
}

/********HEADER CLASSES*********/
.headDiv {
    text-align: left;
    height: 52px;
    width: 100%;
    text-align: left;

    background: url('images/header_line.png');
    background-position: left top;
    background-repeat: repeat-x;
    /*
        lighter: c9fc9b
        darker: aee632
    */
}

.headUnderline {
    vertical-align: bottom;
}

.semanticWebImg {
    background-image: url('images/web_1_sm_tr_hc.png');
    color: red;
    float: right;
    height: 129px;
    position: relative;
    top: -80px;
    width: 129px;
}


#main_interesting_links_holder {
    overflow: hidden;
    min-height: 600px;
    min-width: 300px;
    width: 30%;
    float: right;
    position: relative;
    top: 0px;
    left: 0px;
}

.interestingLinksContainer {

    -moz-border-radius: 5px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; /* Konqueror */
    border-radius: 4px; /* CSS3 */

    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-3deg);

    -webkit-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: #888 5px 5px 5px;
    box-shadow: 10px 5px 5px #888;
    -ms-box-shadow: #888 5px 5px 5px;


    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    cursor: default;
    font-family: arial;
    font-size: 0.9em;
    /*  text-shadow: 2px 2px 2px #c8fb9a;*/

    /*
      display: inline-block;
      margin: 5px 0 10px;
      padding: 2px 25px 5px 5px;
      float: right;

      height: 129px;
      position: relative;
      top: 20px;
      left:180px;
      width: 25%;*/


    /*  margin: 5px 0 10px;
      padding: 2px 25px 5px 5px;*/
    /*  display: block;*/
    /*  display: inline-block;*/
    float: right;
    position: relative;
    top: 10px;
    left: 300px;
    width: 500px;


    border-color: #ade531;
    border-width: 1px;
    border-style: solid;

}

.interestingLinksHolder {


    -moz-border-radius: 5px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; /* Konqueror */
    border-radius: 4px; /* CSS3 */

    /*  -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -webkit-transform: rotate(-7deg);
      -ms-transform: rotate(-3deg);*/

    -webkit-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: #888 5px 5px 5px;
    box-shadow: 10px 5px 5px #888;
    -ms-box-shadow: #888 5px 5px 5px;

    background: none repeat scroll 0 0 #c8fb9a;
    color: #000000;
    cursor: default;
    display: inline-block;
    font-family: arial;
    font-size: 0.9em;
    margin: 5px 0 10px;
    padding: 2px 25px 5px 5px;
    text-shadow: 2px 2px 2px #c8fb9a;

    float: right;
    /*  height: 129px;*/
    position: relative;
    top: -10px;
    left: -150px;
    width: 50%;


    border-color: #ade531;
    border-width: 1px;
    border-style: solid;


}

.interestingLinksHolder:hover {
    left: -320px;
    /*  -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);*/
}


.headImg {
    position: relative;
    top: 25px;
    left: 25px;
    width: 123px;
    height: 43px;
    border: 0px;
    float: left;
}

.headPhrase {
    color: #1e1e1e;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
    font-size: smaller;
    font-weight: 500;
    float: left;
    position: relative;
    top: 25px;
    left: 35px;
    /**/
}

/********EO HEADER CLASSES*********/


.more_link {
    text-decoration: none;
}

ins, u, ins {
    text-decoration: none !important;
}

a.article-href ins, a:visited.article-href ins {
    /*    color: #444;*/
    text-decoration: none !important;
}

.more_link:hover {
    text-decoration: underline;
}

/*******MAIN DIV STYLES********/
.articleLinkHolder {
    background-image: url('../engine/images/link_left_side.png');
    background-position: left;
    background-repeat: repeat-y;

}

a.article-href {
    text-decoration: none;
}

.mainDiv {
    /*background-color:#dcdcdc;/**/
}

.mainTextDiv {
    /*background-color:#dcdc0c;/**/
    margin-top: 50px;
    margin-left: 1em;
    margin-right: 1em;
    float: left;
    width: 65%;
    min-height: 500px;
    /*  background-color:white;*/
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

.mainNewsDiv {
    margin-top: 25px;

    float: right;
    width: 30%;
    font: 18px/23px Georgia, "Times New Roman", Times, serif;
    position: relative;
    /*top: -3em;*/

}

.mainTextSubpost {
    margin-top: 30px;
    font: 20px/27px Georgia, "Times New Roman", Times, serif;

}

.mainTextSubpostP1 {
    float: left;
    width: 50%;
    position: absolute;
    left: -100px;
    top: -280px;
    z-index: 2;
}

.mainTextSubpostP1 div {
    padding-right: 30%;
}

.mainTextSubpostP2 {
    float: left;
    position: absolute;
    left: 40%;
    top: -310px;
    z-index: 3;
}

.mainTextSubpostP3 {
    float: left;
    position: absolute;
    left: 23%;
    top: -260px;
    z-index: 4
}

.mainTextSubpostP4 {
    float: left;
    position: absolute;
    left: -210px;
    top: 330px;
    z-index: 4
}

.friend_link {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    float: left;
    width: 95%;
}

/*******EO MAIN DIV STYLES********/


/********NEWS DIV STYLES********/

.categoryLink {
    line-height: 2em;
    text-decoration: underline;
}


.newsMainTable {
    margin-left: 4%;
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}


/********EO NEWS DIV STYLES********/


/********BORDERS********************/
.t_tl {
    background-image: url('../engine/images/corners/lt.png');
    background-repeat: no-repeat;
    background-position: left top;
    width: 5px;
    height: 5px;
}

.t_tc {
    background-image: url('../engine/images/corners/top.png');
    background-repeat: repeat-x;
    background-position: left top;
    height: 5px;
}

.t_ml {
    background-image: url('../engine/images/corners/left.png');
    background-repeat: repeat-y;
    background-position: left top;
    width: 5px;
}

.t_bl {
    background-image: url('../engine/images/corners/lb.png');
    background-repeat: no-repeat;
    background-position: left top;
    width: 5px;
    height: 5px;
}

.t_bc {
    background-image: url('../engine/images/corners/bottom.png');
    background-repeat: repeat-x;
    background-position: left top;
    height: 5px;
}


/********EO BORDERS********************/

.cloudEl:hover {
    color: #007C00;
}

.cloudEl1 {
    font-size: x-small;
}

.cloudEl2 {
    font-size: small;
}

.cloudEl3 {

}

.cloudEl4 {
    font-size: larger;
}

.cloudEl5 {
    font-size: x-large;
}


.ok_style {
    color: #279821;
    border-color: #279821;
}

.error_style {
    color: red;
    border-color: red;
}

.mess_style {
    color: #0481BD;
    border-color: #0481BD;
    background-color: white;
}

.haveHand {
    cursor: pointer;
    cursor: hand;
}

.withHand {
    cursor: pointer;
    cursor: hand;
}

.haveHandAndUnderline {
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.haveHandAndUnderline:hover {
    text-decoration: underline;
    color: red;
}

.shad {
    filter: shadow(color='#dcc7e4', direction=150);
    width: 100%;
    font-family: Times;
}

.roundedCornersImg {
    border-style: double;
    border-width: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; /* Konqueror */
    border-radius: 4px; /* CSS3 */
    -webkit-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: #888 5px 5px 5px;
    margin: 0.5em;
}

.roundedCornersImg:hover {
    /*  border-color: #279821;*/
    /*  cursor: pointer;*/
}

.roundedCorners {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; /* Konqueror */
    border-radius: 4px; /* CSS3 */
}

.in80 {
    width: 80%;
}

.blogLinkBox {
    text-align: center;
}


.opened_block {
    overflow: hidden;
    min-height: 200px;
    margin-bottom: 1.5em;
}

.closed_block {
    height: 0px;
    overflow: hidden;
}


.footer {
    width: 100%;
    height: 150px;
    float: left;
    text-align: center;
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 700;
}

.custom_hr {
    height: 17px;
    width: 100%;
    background-image: url('../engine/images/hr.png');
    background-position: top left;
    background-repeat: repeat-x;
}

.w3 {
    width: 100%;
    float: right;
    text-align: right;
    position: relative;
    top: 20px;
}


.wizardStepHolder {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; /* Konqueror */
    border-radius: 4px; /* CSS3 */
    /*  border-style: dotted;*/
    border-width: 1px;
    float: left;
    font-size: large;
    font-family: Verdana, Arial, Times, "Times New Roman", serif;
    font-weight: 900;
    margin-left: 5px;
    text-align: center;
}


.remark {
    font-size: .5em;
    color: lightseagreen;
}

.left_100 {
    float: left;
    width: 100%;
}
.left_50 {
    float: left;
    width: 50%;
}

#rss_link_holder {
    clear: right;
    float: right;
    min-height: 128px;
    min-width: 320px;
    width: 15%;

    position: relative;
    left: -50px;
    top: -50px;

    text-align: center;
}

.highslide img{

    float: right;
}

/*#animate-area {
  background:url('../engine/images/run_bg_final_optimized.png) 0 0 repeat-x;
  width: 100%;
  height: 52px;
}*/

@media screen and (min-width: 1024px) {
    #other_categories {
        /*display: none;*/
    }
}

@media screen and (max-width: 1024px) {
    .mainTextDiv {
        width: calc(100% - 2em);
    }

    .mainNewsDiv, #semanticWebImgHolder, #rss_link_holder {
        display: none;
    }

    .mainTextSubpostP1 {
        left: 10%;
    }

    .mainTextSubpostP2 {
        left: 50%;
    }

    .cite_holder, .cite_holder .cite {
        width: 100%;
        float: left;
        max-width: calc(100% - 50px);
    }

    .cite_holder .cite {
        width: 100%;
    }

    .custom_hr {
        padding-top: 3em;
    }

    code {
        font-size: smaller;
    }
}